        body{
            background-color: #070F2B;
            color: #9290C3;
        }
        *{
            margin: 0%;
            padding: 0%;
        }

        .navbar{
            background-image: linear-gradient(to top right,#070F2B,#535C91,#070F2B);
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgb(2, 3, 48);
            position: fixed;
            z-index: 1000;
        }

        .left{
            font-size: 21px;
            margin-left: 20px;
            transition: transform 5s ease;
        }
        
        .right{
            font-size: 25px;
            display: flex;
            width: 600px;
            justify-content: space-evenly;
            align-items: center;
        }
        .details{
            margin-top: 100px;
            height: 450px;
            width: 100%;
            border: 1px solid rgb(9, 6, 45);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .lef{
            justify-content: center;
            align-items: center;
            height: 400px;
            width: 600px;
            border: 1px solid rgb(5, 5, 48);
        }
        .righ{
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 400px;
            width: 500px;
            border: 1px solid rgb(7, 7, 41);
        }

        .r img{
            border-radius: 50%;
        }

        .l{
            margin-top: 80px;
            margin-left: 30px;
        }

        #about{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #060f34;
            height: 650px;
            width: 100%;
        }

        .aboutme{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border:1px solid #041235;
            height: 450px;
            width: 90%;
        }

        .leftabout{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgb(9, 6, 66);
            height: 350px;
            width: 310px;
        }

        .abtimg img{
            border-radius: 50%;
        }

        .rightabout{
            text-align: center;
            height: 300px;
            width: 700px;
            border: 1px solid #051036;
        }

        .rightabout h1{
            font-size: 40px;
        }

        pre{
            font-size: 15px;
        }

        .projects{
            border: 1px solid rgb(10, 3, 46);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 410px;
            width: 100%;
        }
        
        .proj{
            border: 1px solid rgb(5, 3, 46);
            box-shadow: inset 0 0 10px rgb(255, 255, 255);
            border-radius: 8%;
            text-align: center;
            height: 370px;
            width: 370px;
            transition: transform 0.3s ease;
        }

        .proj:hover{
            transform: scale(1.05);
        }

        .projects pre{
            margin-top: 8px;
        }

        .projects img{
            margin-top: 14px;
            border-radius: 15px;
        }

        footer{
            margin-top: 10px;
            text-align: center;
            height: 70px;
        }

        a{
            text-decoration: none;
            color: #9290C3;
            transition: transform 0.3s ease;
        }

        .social-links {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        .social-links img {
            width: 80px;
            height: 80px;
            transition: transform 0.3s ease;
        }

        .social-links img:hover {
            transform: scale(1.3);
        }

        .contactme{
            border: 1px solid rgb(10, 5, 53);
            height: 400px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contact{
            border-radius: 15px;
            width: 700px;
            height: 400px;
            border: 1px solid rgb(105, 93, 184);
        }
        .contact input{
            margin-top: 20px;
            margin-left: 20px;
            color: rgb(9, 18, 35);
            background-color: rgba(240, 248, 255, 0);
            border-radius: 10px;
            border-color: #8784d2;
            width: 300px;
            height: 50px;
            transition: transform 0.3s ease;
        }
        #message{
            width: 632px;
            height: 130px;
        }
        [type="submit"]:hover{
            transform: scale(1.2);
        } 
        input:hover{
            transform: scale(1.04);
        }
        .left h1, .right h5{
            transition: transform 0.5s ease;
        }
        .right h5:hover{
            transform: scale(1.3);
        }
        .left h1:hover{
            transform: scale(1.05);
        }
        #resume{
            border: #9290C3;
            border-radius: 10px;
            height: 35px;
            width: 170px;
            background-color: #9290C3;
            transition: transform 0.5s ease;
        }
        #resume:hover{
            transform: scale(1.1);
        }